@charset "UTF-8";

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5%;
    
    height: 11vh;
    color: inherit;
}
nav > ul > li{
    display: inline-flex;
    padding: 10px;
    
}