@charset "UTF-8";

@media screen  and (width < 470px){
    main{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 70%;
        margin: auto;
        margin-top: 10%;
    }
article > p{
        font-size: 1em;
    }
}
@media screen  and (width < 807px){
    article{
        height: 95%;
        min-width: 100%;
    }
    article > p{
        font-size: 1.1em;
    }
}