@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    color: white;
}
body{
    min-height: 100vh;
    background-color: #05061A;
}
img,picture,video,canvas,svg{
    display: block;
    max-width: 100%;
}
button{
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}