@charset "UTF-8";

.div__left{
    flex: 2;
    margin: auto;
}
.div__right{
    flex: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 5.9%;
    border-bottom-right-radius: 5.8%;
    padding-right: 10px;
    
}

main{
    display: flex;
    height: 100vh;
    align-items: center;
    border-radius: 10px;
}
.main__article{
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: white;
    margin-inline: 10%;
    border-radius: 5%;
    
}
.div__title{
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    
    
    
}

.div__subinformacao{
  color: rgb(61, 60, 60);
  font-size: 1.2em;
  text-align: center;
  padding-inline: 5%;


}


/*DIV RIGHT*/

.div__right > img{
    padding-left: 10px;
}




